// :root {
//     --q-primary: oklch(0.768 0.233 130.85);
// }
body.theme-layer-one {
--q-primary: oklch(0.541 0.281 293.009);
--layer-one-text: red;
}

.layer-one-test-text{
    color: var(--layer-one-text) !important;
}